:root {
  --general-color: #5f6368;
  --color-header: #fff;
  --bg-general: #fff;
  --bg-footer: #f2f2f2;
  --bg-input: #f2f2f2;
  --border-general: #dfe1e5;
  --border-footer: #dfe1e5;
  --menu-icon-color: rgba(0, 0, 0, 0.7);
  --search-icon-color: #9aa0a6;
  --input-color: #5f6368;
  --a-header: #252525;
  --a-author: #000;
  --a-lang: #245fbe;
  --general-font-size: 1.4rem;
  --general-font-family: arial, sans-serif;
}
.google-logo {
  width: 272px;
  height: 92px;
  content: url("../src/googlelogo-color-272x92.png");
}
