html {
  font-size: 62.5%;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
:root {
  --general-color: #5f6368;
  --color-header: #ffffff;
  --bg-general: #ffffff;
  --bg-footer: #f2f2f2;
  --border-general: #dfe1e5;
  --menu-icon-color: rgba(0, 0, 0, 0.7);
  --search-icon-color: #9aa0a6;
  --a-header: #252525;
  --a-author: #000;
  --a-lang: #245fbe;
  --general-font-size: 1.4rem;
  --general-font-family: arial, sans-serif;
}
body,
input {
  font-size: var(--general-font-size);
  font-family: var(--general-font-family);
  color: var(--general-color);
}

.header {
  width: 100%;
  min-height: 14vh;
  padding: 15px 0;
  color: var(--color-header);
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 16px;
  margin: 0;
  list-style: none;
}
.header ul li {
  padding: 0 8px;
}

.header ul li a {
  color: var(--a-header);
}
.header .ctn-menu-icon {
  padding-left: 20px;
}
.menu-icon {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  color: var(--menu-icon-color);
  fill: currentColor;
}

.ctn-profile {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 14px;
  overflow: hidden;
}
.header .profile {
  width: inherit;
  margin-top: -10px;
}

.main {
  width: 100%;
  height: calc(100vh - 14vh - 16vh);
  min-height: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.google-logo {
  width: 272px;
  height: 92px;
}

.ctn-searcher {
  width: 94%;
  min-width: 360px;
  max-width: 585px;
  margin: 24px 0;
}
.searcher {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid var(--border-general);
  border-radius: 24px;
}
.searcher input {
  width: 90%;
  min-width: 240px;
  max-width: 470px;
  height: 45px;
  color: var(--general-color);
  background-color: transparent;
  border: none;
  outline: none;
}

.ctn-search-icon {
  margin: 5px 0 0 14px;
  fill: var(--search-icon-color);
}
.search-icon {
  width: 20px;
  height: 20px;
}
.ctn-speak-icon {
  margin: 0 14px;
}
.speak-icon {
  width: 24px;
  height: 24px;
}

.ctn-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
input[type="submit"] {
  height: 36px;
  margin: 6px;
  padding: 0 16px;
  color: var(--general-color);
  background-color: var(--bg-footer);
  border: 1px solid transparent;
  border-radius: 5px;
}

.ctn-author {
  padding-top: 20px;
}
.ctn-author .author {
  color: var(--a-author);
}
.ctn-author .lang {
  padding: 0 3px;
  color: var(--a-lang);
}

.footer {
  width: 100%;
  height: auto;
}

.ctn-country {
  padding: 15px 30px;
  border-bottom: 1px solid var(--border-general);
}
.ctn-aditionalinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}

.footer-1 {
  max-width: 545px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.footer-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-1 a,
.footer-2 a {
  padding: 13px;
}

/* Backgrounds */
.header,
.main {
  background-color: var(--bg-general);
}
.footer {
  background-color: var(--bg-footer);
}

/* main-section hover states */
.menu-icon:hover,
.profile {
  cursor: pointer;
}

.speak-icon:hover {
  cursor: pointer;
}

.searcher:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-color: transparent;
  -webkit-box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.1);
}
input[type="submit"]:hover {
  border-color: var(--border-general);
  cursor: pointer;
}

/* Anchors hover style */
a {
  color: var(--general-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Font-sizes */
.header {
  font-size: 1.3rem;
}
.ctn-speak-icon {
  font-size: 1.3rem;
}
.ctn-buttons {
  font-size: 1.5rem;
}
.ctn-author {
  font-size: 1.3rem;
}

.footer {
  font-size: 1.4rem;
}
.searcher input {
  font-size: 1.4rem;
}

@media (min-width: 530px) {
  .footer {
    min-height: 16vh;
  }
}

@media (min-width: 830px) {
  .ctn-aditionalinfo {
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .ctn-aditionalinfo {
    padding-top: 10px;
  }
}
